:root {
  --primary-color: #be06fe;
  --secondary-color: #36312f;
  --tertiary-color: #f87a06;
  --border: 1px solid var(--secondary-color);
  --branding-font: "Poiret One", cursive;
  --second-branding-font: "Poppins", sans-serif;
  --color: 190, 5, 254;
  --color-bg: 247, 223, 200;
}

h1,
h2,
h3 {
  font-family: var(--branding-font);
}

nav {
  background-color: white;
  margin: 0;
  padding: 0;
}
nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  font-family: var(--second-branding-font);
}
nav a {
  text-decoration: overline;
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
  font-size: 15px;
  transition: all 0.7s ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--primary-color);
}

.index_bg {
  background-image: url("../img/index_bg.png");
  width: 100;
  background-repeat: no-repeat;
}

.square_1 {
  width: 300px;
  height: 300px;
  border: 2px solid var(--tertiary-color);
  border-radius: 30%;
  animation: rotation 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.square_2 {
  width: 200px;
  height: 200px;
  border: 1px solid var(--tertiary-color);
}

.square_3 {
  width: 100px;
  height: 100px;
  border: 1px solid var(--primary-color);
  animation: rotation 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.circle_1 {
  width: 300px;
  height: 300px;
  border: 1px solid var(--tertiary-color);
  border-radius: 30%;
  animation: rotation 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.circle_2 {
  width: 200px;
  height: 200px;
  border: 2px solid var(--tertiary-color);
  border-radius: 50%;
}

.circle_3 {
  width: 100px;
  height: 100px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
}

.box:hover {
  animation: grow-and-shrink 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: pointer;
}

@keyframes grow-and-shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(3);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.index-h1_1 {
  display: flex;
  color: var(--primary-color);
  font-size: 50px;
  margin-top: 0.9em;
}

.index-h1_2 {
  display: flex;
  color: var(--tertiary-color);
  font-size: 50px;
}

.background-img {
  background-image: url("../img/about-bg.png");
  background-repeat: no-repeat;
  margin-top: 3em;
  width: 100;
}

.about-me-img {
  display: flex;
  margin-left: 11em;
  margin-top: 9.3em;
  justify-content: right;
  width: 260px;
  border: 1px solid var(--primary-color);
}

.square_4 {
  width: 300px;
  height: 300px;
  border: 1px solid var(--primary-color);
  margin-top: -4.3em;
  margin-left: 22em;
}

section h1 {
  color: var(--tertiary-color);
  text-decoration: overline;
  font-size: 30px;
}

section h2 {
  color: var(--tertiary-color);
  text-decoration: overline;
  text-align: start;
  margin-top: 1em;
}

section h3 {
  color: var(--tertiary-color);
  text-decoration: overline;
  font-size: 25px;
  font-family: var(--second-branding-font);
  margin-top: 2em;
  line-height: 1.5;
}

section p {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  font-family: var(--second-branding-font);
  text-align: justify;
  line-height: 1.5;
}

.quote {
  margin-top: 3em;
  color: var(--primary-color);
  background-color: transparent;
}

.p-about-me {
  padding: 20px;
  border: 1px solid var(--tertiary-color);
  font-size: 15px;
}

.projects-section {
  background-image: url("../img/projects-bg.png");
  margin-top: 3em;
  width: 100;
  height: 1600px;
}

.p-projects {
  padding: 5px;
  font-size: 15px;
}

.behind_the_scene_btn a {
  padding: 5px;
  font-family: var(--second-branding-font);
  transition: all 0.7s ease-in-out;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  text-decoration: none;
}

#bg-contacts {
  background-image: url(../img/bg-contacts.png);
  margin-top: 3em;
  width: 100;
  height: 700px;
}

.container li {
  font-family: var(--second-branding-font);
  text-align: start;
  color: var(--tertiary-color);
  padding: 10px;
  list-style: none;
  font-size: 20px;
}

section a {
  color: var(--tertiary-color);
  transition: all 0.7s ease-in-out;
  text-decoration: overline;
}

section a:hover {
  color: var(--primary-color);
}

footer p {
  font-size: 12px;
  font-family: var(--second-branding-font);
}

footer a {
  font-family: var(--second-branding-font);
  color: var(--tertiary-color);
  transition: all 0.7s ease-in-out;
}

footer a:hover {
  font-family: var(--second-branding-font);
  color: var(--tertiary-color);
}

.social {
  text-align: center;
  font-size: 35px;
}

.social a {
  color: var(--secondary-color);
  transition: all 0.7s ease-in-out;
}

.balls {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.ball {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  animation: bounce 200ms alternate infinite cubic-bezier(1, 0, 0, 1);
}

.ball_1 {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  animation: bounce 300ms alternate infinite cubic-bezier(1, 0, 0, 1);
}

.ball_2 {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  animation: bounce 400ms alternate infinite cubic-bezier(1, 0, 0, 1);
}

.vertical_line {
  width: 1px;
  height: 1400px;
  border: 1.5em solid black;
  margin: 0px 20px;
}

.test {
  color: black;
  font-size: 10em;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}

@media (max-width: 768px) {
  .square_1,
  .square_2,
  .square_3,
  .square_4,
  .circle_1,
  .circle_2,
  .circle_3,
  .about-me-img {
    display: none;
  }
  #art-project,
  #weather-app-img,
  #exercise01-img {
    display: none;
  }
}

header {
  font-family: var(--branding-font);
  font-weight: 300;
  border: 10px solid black;
  margin: 10px;
  min-height: 100vh;
}

.intro {
  display: grid;
  grid:
    "hello hello" 75vh
    "my-name-is Mor" 125vh / max-content 1fr;
  margin-bottom: 60vh;
  margin-left: 10px;
  grid-gap: 15px;
  font-size: 24px;
  font-family: var(--second-branding-font);
}

.intro-1 {
  grid-area: hello;
  align-self: center;
  position: sticky;
  top: 3em;
  margin-bottom: 12em;
  font-family: var(--second-branding-font);
  font-weight: 900;
}

.intro-2 {
  grid-area: my-name-is;
  font-size: 24px;
  position: sticky;
  align-self: center;
  top: 5em;
  font-family: var(--second-branding-font);
  margin-bottom: 5.5em;
}

.intro-3 {
  grid-area: Mor;
  align-self: end;
  font-weight: 900;
  font-style: italic;
  font-family: var(--second-branding-font);
}

img {
  max-width: 100%;
  padding: 5px;
}

.css {
  text-align: start;
  margin: 0;
  font-size: 1.8em;
  font-family: var(--second-branding-font);
}

.prototypes {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid: "text thumbnails" 1fr / 1fr 1fr;
  margin-bottom: 100vh;
}

.prototypes p {
  position: sticky;
  top: 20vh;
  grid-area: text;
  align-self: start;
}

.thumbnails {
  grid-area: thumbnails;
  margin-top: 60vh;
  background: black;
  padding: 5px;
}
