:root {
  --primary-color: #be06fe;
  --secondary-color: #36312f;
  --tertiary-color: #f4840c;
  --background-color: #f7dfc8;
  --border: 1px solid var(--secondary-color);
  --branding-font: "Poiret One", cursive;
  --color: 190, 5, 254;
}

h1,
h2,
h3 {
  font-family: "Poiret One", cursive;
  color: var(--primary-color);
  position: relative;
}

.hero {
  background: var(--secondary-color);
}

#element {
  font-size: 50px;
  text-align: center;
  color: rgba(var(--color), 0.7);
  padding-bottom: 20px;
  margin-bottom: 0;
}

#squares {
  margin-top: 50px;
}

#circles {
  margin-bottom: 30px;
}
.section p {
  font-family: var(--branding-font);
  font-size: 40px;
  color: var(--secondary-color);
  text-align: center;
  padding-top: 40px;
}

.intro-projects {
  text-decoration: overline;
}

.section h3 {
  color: var(--secondary-color);
  font-size: 30px;
  text-decoration: overline;
}

.section {
  background: var(--background-color);
}

.container p {
  color: var(--secondary-color);
  font-size: 20px;
  text-align: justify;
  line-height: 1.5;
}

.container a {
  font-family: var(--branding-font);
  color: var(--primary-color);
  border: var(--border);
  padding: 15px;
  cursor: pointer;
  margin-top: 20px;
}

.container a:hover {
  color: var(--tertiary-color);
}
