:root {
  --primary-color: #be06fe;
  --secondary-color: #36312f;
  --tertiary-color: #f87a06;
  --background-color: #f7dfc8;
  --border: 1px solid var(--secondary-color);
  --branding-font: "Poiret One", cursive;
  --color: 190, 5, 254;
  --color-bg: 247, 223, 200;
}

h1,
h2,
h3 {
  font-family: "Poiret One", cursive;
  color: var(--primary-color);
  position: relative;
}

header a {
  color: var(--tertiary-color);
}

.hero {
  background: var(--secondary-color);
}
.container-nav-link {
  background: var(--secondary-color);
}
.nav-link a {
  color: var(--primary-color);
  font-family: var(--branding-font);
  cursor: pointer;
}

.nav-link a:hover {
  color: var(--tertiary-color);
}

#element {
  font-size: 50px;
  text-align: center;
  color: rgba(var(--color), 0.7);
}

.contact-link {
  display: block;
  margin: 0 auto;
  font-family: var(--branding-font);
  color: rgba(var(--color), 0.7);
  font-size: 40px;
}

.contact-link:hover {
  color: var(--tertiary-color);
}

#squares {
  margin-top: 50px;
}

#circles {
  margin-bottom: 30px;
}

.vv-line {
  display: block;
  position: relative;
  left: 900px;
}
.vv-line-2 {
  display: block;
  position: relative;
  top: 215px;
  left: 195px;
}
.ho-line-r {
  display: block;
  position: relative;
  left: 695px;
  top: -1px;
}

.ho-line-l {
  display: block;
  position: relative;
  bottom: -270px;
  left: -80px;
}

.ho-line-l-top {
  display: block;
  position: relative;
  bottom: 120px;
  left: -80px;
  width: 350px;
}

.section {
  background: var(--background-color);
}

.section-intro {
  font-family: var(--branding-font);
  font-size: 40px;
  color: var(--secondary-color);
  text-align: center;
  padding-top: 40px;
  text-decoration: overline;
}

.section h3 {
  color: var(--secondary-color);
  font-size: 30px;
  text-decoration: overline;
}

.container p {
  color: var(--secondary-color);
  font-size: 20px;
  text-align: justify;
  line-height: 1.5;
  font-family: var(--branding-font);
}

.container .btn-index {
  font-family: var(--branding-font);
  color: var(--primary-color);
  border: var(--border);
  padding: 15px;
  cursor: pointer;
  margin-top: 20px;
}

.container .btn:hover {
  color: var(--tertiary-color);
}

@media (max-width: 768px) {
  .vv-line,
  .vv-line-2,
  .ho-line-r,
  .ho-line-l,
  .ho-line-l-top {
    display: none;
  }
}
@media (max-width: 576px) {
  .section img {
    display: none;
  }
}

#background-img {
  background-image: url("../img/about-bg.png");
  background-repeat: no-repeat;
  background-position: 75% 25%;
}

.about-me-img {
  display: block;
  margin: 70px;
  width: 400px;
}

.h1-about-me {
  padding-left: 27px;
  margin-top: 70px;
  color: var(--secondary-color);
  text-decoration: overline;
}

.p-about-me {
  padding: 30px;
}

.btn-about-me {
  font-family: var(--branding-font);
  color: var(--primary-color);
  border: var(--border);
  margin: 30px;
  padding: 15px;
  cursor: pointer;
}

.container .btn-about-me:hover {
  color: var(--tertiary-color);
}
